body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background-color: whitesmoke;
    padding: 60px;
    border-style: double;
    border-color: burlywood;
    border-width: 10px;
    border-radius: 1rem;
}

.textColor{
    color: green;
    font-style:oblique;
    font-weight: 900;
}

.input-box{
    position: relative;
}

.copy-icon{
    position: absolute;
    left: 350px;
    bottom: 27px;
    cursor: pointer;
}

/* absolute and relative */

/* Input Design */

.password{
    margin: 5px 0px 0px 0px;
    padding: 20px 100px 20px 10px ;
    background-color: skyblue;
    border-style: inset;
    border-color: yellow;
    border-width: 4px;
}

input[type="text"] {
  font-family: "Verdana", sans-serif;
  font-size: 20px;
}

.Btn{
    background-color: rgb(62, 239, 62);
    border-style: outset;
    border-color: whitesmoke;
    border-width: 4px;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 10px;
}